
@font-face {
  font-family: AspiraLgItal;
  src        : url("fonts/Aspira-Light-Italic.otf");
  font-weight: 300;
  font-style : italic;
}
@font-face {
  font-family: AspiraBoldItal;
  src        : url("fonts/Aspira-Bold-Italic.otf");
  font-weight: 700;
  font-style : italic;
}
@font-face {
  font-family: AspiraBold;
  src        : url("fonts/Aspira-Bold.otf");
  font-weight: 700;
  font-style : normal;
}
@font-face {
  font-family: AspiraItal;
  src        : url("fonts/Aspira-Italic.otf");
  font-weight: 400;
  font-style : italic;
}
@font-face {
  font-family: AspiraRegular;
  src        : url("fonts/Aspira-Regular.otf");
  font-weight: 400;
  font-style : normal;
}
@font-face {
  font-family: AspiraLig;
  src        : url("fonts/Aspira-Light.otf");
  font-weight: 300;
  font-style : normal;
}
@font-face {
    font-family: BigMedium;
    src: url("fonts/BigCaslonMedium.ttf");
    font-weight: 400;
    font-style: normal;
}
