
div.herobanner{
  background-position: center center;
  background-size    : cover;
  background-color   : white;
  margin             : auto;
  width              : 100%;
  max-width          : 1280px;
  height             : 100%;
  display            : flex;
  //Caja con icono y Texto de Logo
  div.Upbanner{
    width: 100%;
    height: 100%;
    padding-top: 70px;
  }
  img{
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
  p{
    text-decoration: none;
    margin-left: 70px;
    font-size: 15pt;
    color: rgba(152,153,155,1);
    font-family: AspiraLightItalic;
    &:hover{
      text-decoration: none;
      font-weight: bold;
      color: $DarkBrown_Box;
    }
  }
  #icono{
    width: 36%;
    height: auto;
    margin: 10% 14%;
    float: right;
  }
  #logoParkinson{
    height: auto;
    width: 20%;
    float: right;
    margin: -22px 70px 0;
    float: right;
    margin: 0 60px 0 0;
    @media screen and (max-height: 1920px){
      margin: 20% 60px 0 0;
    }
    @media screen and (max-width: 1280px){
      margin: -4% 60px 0 0;
    }
  }
}
