
/*  Organizar las clases y ids, hacer carpeta si es necesaria para tener una mejor organizacion*/
/*mover al Style las clases en comun como fonts,id y margen de la pagina y quiza clases de los grid*/

.box_welcome{
  width: 350px;
  height:200px;
  background: $brown_dark;
  position: absolute;
  margin: 70px 0 0;
}
.boxWth{
  width: 100%;
  height:83%;
  background: $brown_light;
  display: grid;
}
#cerb{
  width: 26%;
  margin: -21% 0 0;
  position: absolute;
}
#Contact{
  width: 100%;
  height: 33%;
  margin-top: 50%;
}
#fontSub{
  width: 403px;
  margin-top: 138px;
  font-size: 14pt;
}
#Hrzt{
  width: 100%;
  height:7px;
  background: $brown_dark;
  position: absolute;
  margin-top: 8%;
}
.Hrzontal{
  width: 100%;
  height:7px;
  background: $brown_dark;
  position: absolute;
}
.lineVert{
  width: 7px;
  height:67px;
  background: $brown_dark;
  position: absolute;
  margin: 8% 0 0 70px;
}
.lineRight{
  width: 7px;
  height: 67px;
  background: #a28977;
  margin: 10% 0 0 48%;
}
#LgHand{
  position: absolute;
  width: 8%;
  margin: 13% 0 0 15%;
}
#Drjr_icon{
  width: 20%;
  margin: 94.35px 222px;
}
#hand{
  margin: 4% 0 0 46%;
  width: 45%;
}
#shadow{
  width: 100%;
  height: 470px;
  margin-top: 27%;
  position: absolute;
background: white;
}
.Fontwhat{
  font-family: 'BigMedium';
  font-size: 60pt;
  color: $gris_DRJR_100;
  position: absolute;
  margin: -10px 0 0 23px;
  width: 227px
}
.whatIs{
  position: relative;
  float: none;
  max-width: 100%;
  height: 473px;
  img{
    width  : 100%;
    display: block;
    max-height: 1024px;
  }
}
.welcome{
  position: relative;
  float: none;
  max-width: 100%;
  img{
    width  : 100%;
    display: block;
    max-height: 1024px;
  }
}
